/* * {border:1px solid red} */
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1500px;
}
    #Home-bg {
        background-image: url(../images/annie-spratt-hero-image.jpg);
    }
    #About-bg {
        background-color: #ffffff;
    }
body {
    padding: 0;
    margin: 0;
    height: 1500px;
    }

/*Navigation Styles*/
nav {
    display: flex;
    position:fixed;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
    top: 0;
    background-color: rgba(241,214,219,0.25);
    backdrop-filter: blur(8px);
    width: 100%;
    align-items: center;
    z-index: 100;
}
    .logo {
        float: left;
        margin: 0 20px;
    }
    .contact {
        width: 1fr;
        float:right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;
    }
#overlay-top {
    display: flex;
    position:fixed;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
    top: 0;
    background-color: rgba(241,214,219,);
    width: 100%;
    align-items: center;
    z-index: 105;
}
    #empty-icon {
        width: 50px;
        height: 50px;
    }
#menu {
    position: fixed;
    z-index: 100;
    top: -200vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 214, 219);
    backdrop-filter: blur(8px);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    #menu a {
        text-decoration: none;
        color: #0A1E63;
    }
    #menu li {
        display: block;
        width: 100%;
        text-align: center;
    }
    #home-link:hover {
        background-image: url(../images/brush-1.svg);
        background: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #about-link:hover {
        background-image: url(../images/brush-2.svg);
        background: cover;
        background-repeat: no-repeat;
        background-position: center;
    }   
    #case-studies-link:hover {
    background-image: url(../images/brush-3.svg);
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    }   
    #illustrations-link:hover {
    background-image: url(../images/brush-5.svg);
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    #close-icon {
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 20px;
        background: rgb(241, 214, 219);
        z-index: 110;
    }
/*Hero Styles*/
    .hero {
        float:top;
        height: 800px;
        overflow: visible;
        z-index: 1;
        margin: 20px 20px 80px 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
    }

        .greeting {
            grid-column: 2 / -1;
        }
        .statement-section {
            grid-column: 2 / -1;
            grid-row: 3 / -1;
        }
            #languages {
                display:flex;
                align-items: top;
                overflow: visible;

                }
                .english {
                    background-image: url(../icons/emojione_flag-for-united-kingdom.svg);
                    background-repeat: no-repeat;
                    min-width: 99px;
                    min-height: 99px;
                    overflow: visible;
                    border: 2px solid black;
                    border-radius: 50px;
                    margin-right: 10px;
                }
                .russian {
                    background-image: url(../icons/emojione_flag-for-russia-disabled.svg);
                    background-repeat: no-repeat;
                    min-width: 99px;
                    min-height: 99px;
                    margin: 0 10px;
                    cursor: pointer;
                }
                .russian:hover {
                    background-image: url(../icons/emojione_flag-for-russia.svg);
                    background-repeat: no-repeat;
                }
                .vietnam {
                    background-image: url(../icons/emojione_flag-for-vietnam-disabled.svg);
                    background-repeat: no-repeat;
                    min-width: 99px;
                    min-height: 99px;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .vietnam:hover {
                    background-image: url(../icons/emojione_flag-for-vietnam.svg);
                    background-repeat: no-repeat;
                }
            .down-hotspot {
                grid-row: -1;
                grid-column: 1 / -1;
                height: 100px;
                margin: 80px auto 0 auto;
                align-self: center;
            }

            .down {
                float: top;
                margin: 0 auto;
                align-self: center;
            }

/* Card Styles */
.wide-card-column {
    padding: 0;
    margin: 0;
    width: 100%;
}
.wide-card {
backdrop-filter: blur(20px);
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr 1fr;
gap: 20px;
padding: 40px 20px;
}
    .wide-card-content {
        grid-column: -2 / -6;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 100%;
    }
    
    .card-thumbnail {
        grid-column: 2 / 8;
        grid-row: 1 / -1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-position: center center;
        flex-direction: row;
        background-repeat: no-repeat;
        background-size: 100% auto;
        cursor:pointer;
    }
        #card-thumbnail1 {
            background-image: url(../images/endangered\ species\ all\ devices\ cover.png);
        }
        #card-thumbnail2 {
            background-image: url(../images/emotion\ cover.png);
        }
        #card-thumbnail3 {
            background-image: url(../images/CORAL\ all\ devices\ cover.png);
        }
    .card-description {
        padding-bottom: 40px;
    }
    .card-heading span {
        font-style: italic;
    }
    .card-date {
        padding-bottom: 20px;
        color: #0A1E63;
    }
#case-study1, #case-study3 {
    background-color: rgba(241, 214, 219, 0.25);
}
#case-study2 {
    background: rgba(255, 255, 255, 0.25);
}
/* -------------------- */
/* About Page Unique Styles */
/* Side Navigation */
.side-menu {
    position: fixed;
    height: 100vh;
    width: calc(100% / 12 + 40px);
    top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 110;
    transition: all 1s ease;
}
    .side-tab {
        margin: 20px auto;

    }
    .side-tab p {
        line-height: 0;
    }
#see-resume {
    display: inline-block;
    position: fixed;
    top: 100px;
    right: 20px;
}
/* About Summary */
#about-me-body {
    grid-column: 3 / -3;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat (6, 1fr);
    gap: 20px;
    padding: 80px 20px 0 20px;
    background-color: rgba(241, 214, 219, 0.25);
}
#about-me {
    grid-column: 3 / -3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #about-me img {
        border-radius: 100%;
    }
    #about-me h2 {
        text-align: center;
    }
/* My UX Skills */
#my-skills-body {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr;
gap: 20px;
background-color: #ffffff;
padding: 0 20px;
}
    #my-skills {
        grid-column: 3 / -3;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 2fr 2fr 2fr;
        gap: 20px;
    }
    .ux-skill-image {
        margin-right: 20px;
    }
    #my-skills h2 {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        text-align: left;
    }
    #ux-skill1, #ux-skill3 {
        display: flex;
        grid-column: 1 / 6;
    }
    #ux-skill1 {
        grid-row: 2 / span 1;
    }
    #ux-skill2 {
        display: flex;
        grid-column: 4 / -1;
        grid-row: 3 / span 1;
    }
    #ux-skill3 {
        grid-row: 4 / span 1;
    }

/* Tool Set */
#tool-set-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}
    #tool-set {
        grid-column: 3 / -3;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
    }
    #tool-set h2 {
        grid-column: 1 / -1;
    }
    .tool-row {
        grid-column: 2 / -2;
        display: flex;
        justify-content: center;
    }
        .tool-tile {
            min-width: 216px;
            min-height: 216px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 20px;
        }
        #pen-paper {
            background-image: url(../images/pen-paper-tile.svg)
        }
        #pen-paper:hover {
            background-image: url(../images/pen-paper-tile-hover.svg);
        }
        #figma {
            background-image: url(../images/figma-tile.svg);
        }
        #figma:hover {
            background-image: url(../images/figma-tile-hover.svg);
        }
        #invision {
            background-image: url(../images/invision-tile.svg);
        }
        #invision:hover {
            background-image: url(../images/invision-tile-hover.svg);
        }
        #miro {
            background-image: url(../images/miro-tile.svg);
        }
        #miro:hover {
            background-image: url(../images/miro-tile-hover.svg);
        }
        #google-drive {
            background-image: url(../images/google-drive-tile.svg);
        }
        #google-drive:hover {
            background-image: url(../images/google-drive-tile-hover.svg);
        }
        #photoshop {
            background-image: url(../images/photoshop-tile.svg);
        }
        #photoshop:hover {
            background-image: url(../images/photoshop-tile-hover.svg);
        }
/* Footer Styles */
footer {
    margin-top: 80px;
    padding: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(241, 214, 219, 0.25);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 40px 20px;
}
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 4 / span 6;
    }
        #footer-header, .footer-content p {
            text-align: center;
        }

/* ----------------------- */
/* Icon Styles */
#open-icon {
    cursor: pointer;
}
.contact-phone {
    display: none;
}
.contact-phone, .contact-email, .contact-linkedin, .contact-dribbble, .contact-instagram {
    cursor: pointer;
    background-repeat: no-repeat;
    display: inline;
    margin: 0 20px;
}
.contact-email:hover {
    background-image: url(../icons/et_email-hover.svg);
}
.contact-linkedin:hover {
    background-image: url(../icons/et_linkedin-hover.svg);
}
.contact-dribbble:hover {
    background-image: url(../icons/et_dribbble-hover.svg);
}
.contact-instagram:hover {
    background-image: url(../icons/et-openmoji_instagram-hover.svg);
}

/*Button Styles*/
.button {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(241,214,219,0.25);
    backdrop-filter: blur(8px);
}

.button:hover {
    background-color: rgb(241,214,219);
}

.button:active:hover {
    background-color: #0A1E63;
    color: #ffffff;
}
#tab1:hover {
    background-image: url(../icons/side-tab1-hover.svg);
}
#tab2:hover {
    background-image: url(../icons/side-tab2-hover.svg);
}
#tab3:hover {
    background-image: url(../icons/side-tab3-hover.svg);
}

/* Typography */
p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.paragraphs {
    flex-direction: column;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.button {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-style: none;
  color: #0A1E63;
  font-weight: 600; /*semi-bold*/
  cursor: pointer;
}

.hyperlink {
    color: #0A1E63;
    font-weight: bold;
    cursor: pointer;
}

/* ------------------------------ */
/* Responsive Breakpoints */

@media only screen and (min-width: 1400px) {
.card-thumbnail {
    grid-column: 3 / 8;
    grid-row: 1 / -1;
}
.wide-card-content {
    grid-column: -3 / -6;
    grid-row: 1 / -1;
} 
.contact-phone {
    display: none;
}
}
@media only screen and (max-width: 1000px) {
.logo {
    display: none;
    float: left;
}
.contact {
    width: 100%;
}
    .contact-method {
        display: none;
    }
    .contact-phone {
        display: none;
    }
    #ux-skill1, #ux-skill3 {
        display: flex;
        grid-column: 1 / 7;
    }
    #ux-skill1 {
        grid-row: 2 / span 1;
    }
    #ux-skill2 {
        display: flex;
        grid-column: 3 / -1;
        grid-row: 3 / span 1;
    }
    #ux-skill3 {
        grid-row: 4 / span 1;
    }
}

@media only screen and (max-width: 800px) {
/* Navigation Styles */
.logo {
    display: none;
    float: left;
}
.contact {
    width: 100%;
}
    .contact-method {
        display: none;
    }
    .contact-phone {
        display: inline;
    }
#menu {
    padding-bottom: 20px;
}
/* Hero Styles */
.hero {
    grid-template-columns: repeat(4, 1fr);
}
    .statement-section {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }
    .greeting {
        grid-column: 1 / -1;
    }
/* Card Styles */
.wide-card-column {
    margin: 0;
}
.wide-card {
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr 1fr;
}
    .card-thumbnail {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-size: cover;
    }
    .wide-card-content {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }
/* About Styles */
#ux-skill1, #ux-skill2, #ux-skill3 {
    display: flex;
    grid-column: 1 / -1;
}
#ux-skill1 {
    grid-row: 2 / span 1;
}
#ux-skill2 {
    grid-row: 3 / span 1;
}
#ux-skill3 {
    grid-row: 4 / span 1;
}
.tool-row {
    display: inline;
    flex-direction: row;
}
/* Button Styles */
.see-more {
    align-self: center;
}
#close-icon {
    position: fixed;
    cursor: pointer;
    top: 10px;
}
/* Footer Styles */
footer {
    grid-template-columns: repeat(4, 1fr);
}
    .footer-content {
        grid-column: 1 / -1;
    }
}

@media only screen and (max-width: 500px) {
/* Side Navigation */
.side-menu {
    position: fixed;
    width: 100%;
    height: calc(100vh / 6);
    padding: 0 auto;
    top: 70px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(241,214,219,0.25);
    backdrop-filter: blur(8px);
}
    .side-menu-icon {
        position: absolute;
        bottom: 10px;
        margin: 0 auto;
    }
#see-resume {
    top: calc(100vh / 6 + 70px + 20px);
}
/* UX Skills */
#my-skills-body {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}
#my-skills {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-column: 1 / -1;
}
    #my-skills h2 {
        text-align: center;
    }
.ux-skill {
    flex-direction: column;
}
/* Tool set */
#tool-set-body {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}
#tool-set {
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
}
    #tool-set h2 {
        text-align: center
    }
    .tool-row {
        grid-column: 1 / -1;
    }
.tool-tile {
    min-width:200px;
}
/* Button Styles */
.see-more {
    width: 100%;
}
}